<!DOCTYPE html>
{% extends 'rango/base.html' %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>

        {% if pages %}

                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}

        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}

        <a href="{% url 'rango:add_page' category.slug %}">Add Page</a>
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}
