<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
        <div>
            hey there partner! <br>
            <strong>{{ boldmessage }}</strong><br>
        </div>
        <br>

        {% if categories %}
            <strong>Most Liked Categories</strong><br>
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if pages %}
            <strong>Most Viewed Pages</strong>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
        {% else %}
            <strong>There are no pages present.</strong><br />
        {% endif %}
        <div>
            <img src="{% static '/images/rango.jpg' %}" alt="Picture of Rango" />
        </div>
    <div/>

{% endblock %}
