<!DOCTYPE html>

{% load staticfiles %}
{{ STATIC_URL }}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        {% if categories %}
            <strong>Most Liked Categories</strong>
            <ul>
                {% for category in categories %}
                <li>
                    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if pages %}
            <strong>Most Viewed Pages</strong>
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong><br />
        {% endif %}
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static '/images/rango.jpg' %}" alt="Picture of Rango" />
        </div>
    </body>

</html>
